# SPDX-FileCopyrightText: 2020 Nextcloud GmbH and Nextcloud contributors
# SPDX-License-Identifier: AGPL-3.0-or-later
target
.env
bin
build
composer.phar
/vendor/
/vendor-bin/*/vendor
*.cache
.direnv
result
