[package]
name = "notify_push"
version = "0.1.0" # this version number is unused, the version number for the binary will be extracted from the appinfo/info.xml during build
authors = ["Robin Appelman <robin@icewind.nl>"]
edition = "2018"
rust-version = "1.60"

[dependencies]
redis = { version = "0.22.3", features = ["tokio-comp", "aio", "cluster"] }
serde = { version = "1.0.158", features = ["derive"] }
serde_json = "1.0.94"
thiserror = "1.0.40"
warp = { version = "0.3.3", features = ["tls"] }
tokio = { version = "1.26.0", features = ["macros", "rt-multi-thread", "signal"] }
futures = "0.3.27"
log = "0.4.17"
sqlx = { version = "0.6.3", features = ["runtime-tokio-rustls", "any", "macros", "mysql", "sqlite", "postgres"] }
dotenv = "0.15.0"
dashmap = "5.4.0"
once_cell = "1.17.1"
miette = { version = "5.6.0", features = ["fancy"] }
smallvec = { version = "1.10.0", features = ["serde"] }
reqwest = { version = "0.11.16", default-features = false, features = ["rustls-tls", "json"] }
warp-real-ip = "0.2.0"
parse-display = "0.8.0"
percent-encoding = "2.2.0"
rand = "0.8.5"
ahash = "0.8.3"
flexi_logger = { version = "0.25.3", features = ["colors", "is-terminal"] }
tokio-stream = { version = "0.1.12", features = ["net"] }
structopt = "0.3.26"
derivative = "2.2.0"
nextcloud-config-parser = { version = "0.7.0", features = ["db-sqlx", "redis-connect"] }
url = "2.3.1"

[dev-dependencies]
mini-redis = "0.4.1"
tokio-tungstenite = "0.18.0"
http-auth-basic = "0.3.3"
test_client = { path = "test_client" }

[build-dependencies]
nextcloud_appinfo = "0.6.0"

[profile.dev.package.backtrace]
opt-level = 3

[profile.release]
lto = true

[workspace]
