[package]
name = "notify_push"
version = "0.1.0" # this version number is unused, the version number for the binary will be extracted from the appinfo/info.xml during build
authors = ["Robin Appelman <robin@icewind.nl>"]
edition = "2021"
rust-version = "1.64.0"

[dependencies]
redis = { version = "0.23.0", default-features = false, features = ["tokio-comp", "aio", "cluster", "cluster-async"] }
serde = { version = "1.0.171", features = ["derive"] }
serde_json = "1.0.99"
thiserror = "1.0.43"
warp = { version = "0.3.5", features = ["tls"] }
tokio = { version = "1.29.1", features = ["macros", "rt-multi-thread", "signal"] }
futures = "0.3.28"
log = "0.4.19"
sqlx = { version = "0.6.3", features = ["runtime-tokio-rustls", "any", "mysql", "sqlite", "postgres"] }
dotenv = "0.15.0"
dashmap = "5.5.0"
once_cell = "1.18.0"
miette = { version = "5.10.0", features = ["fancy"] }
smallvec = { version = "1.11.0", features = ["serde"] }
reqwest = { version = "0.11.18", default-features = false, features = ["rustls-tls", "json"] }
warp-real-ip = "0.2.0"
parse-display = "0.8.1"
percent-encoding = "2.3.0"
rand = { version = "0.8.5", features = ["small_rng"] }
ahash = "0.8.3"
flexi_logger = { version = "0.25.3", features = ["colors", "is-terminal"] }
tokio-stream = { version = "0.1.14", features = ["net"] }
structopt = "0.3.26"
derivative = "2.2.0"
nextcloud-config-parser = { version = "0.8.0", features = ["db-sqlx", "redis-connect"] }
url = "2.4.0"

[dev-dependencies]
mini-redis = "0.4.1"
tokio-tungstenite = "0.19.0"
http-auth-basic = "0.3.3"
test_client = { path = "test_client" }

[build-dependencies]
nextcloud_appinfo = "0.6.0"

[profile.dev.package.backtrace]
opt-level = 3

[profile.release]
lto = true

[workspace]
