<?xml version="1.0" encoding="utf-8"?>
<!--
  - SPDX-FileCopyrightText: 2020 Nextcloud GmbH and Nextcloud contributors
  - SPDX-License-Identifier: AGPL-3.0-or-later
-->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		 bootstrap="bootstrap.php"
		 verbose="true"
		 xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/8.5/phpunit.xsd">
	<testsuite name="unit">
		<directory suffix="Test.php">./</directory>
	</testsuite>
	<coverage>
		<include>
			<directory suffix=".php">./tests/lib</directory>
		</include>
	</coverage>
</phpunit>
