<?xml version="1.0" encoding="utf-8" ?>
<!--
  - SPDX-FileCopyrightText: 2021 Nextcloud GmbH and Nextcloud contributors
  - SPDX-License-Identifier: AGPL-3.0-or-later
-->
<phpunit bootstrap="bootstrap.php"
		 timeoutForSmallTests="900"
		 timeoutForMediumTests="900"
		 timeoutForLargeTests="900"
		 convertDeprecationsToExceptions="true"
>
	<testsuite name='Nextcloud - Notify Push App Tests'>
		<directory suffix='.php'>.</directory>
	</testsuite>
	<filter>
		<whitelist>
			<directory suffix=".php">../</directory>
			<exclude>
				<directory suffix=".php">../tests
				</directory>
			</exclude>
		</whitelist>
	</filter>
</phpunit>
